@model IEnumerable<ToDo.Models.Tasks>
@{
    ViewData["Title"] = "Home";
}
<div>
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter" style="min-width: 700px">
            <form method="post" asp-action="Index">
				<div class="columns">
                    <div class="column">

                        <p>Sorting</p>
                        <div class="box" style="padding: 0">
                            <input list="sorting" name="sorting" class="input" value="@Context.Request.Query["sorting"]" type="text">
                            <datalist id="sorting">
                                <option value="FirstInProgress"></option>
                                <option value="DateAdded"></option>
                                <option value="Alphabet"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="column">

                        <p>Status</p>
                        <div class="box" style="padding: 0">
                            <input list="status" name="status" class="input" value="@Context.Request.Query["status"]" type="text">
                            <datalist id="status">
                                <option value="AllStatus"></option>
                                <option value="InProgress"></option>
                                <option value="Done"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="column">
                        <p>Theme</p>
                        <div class="box" style="padding: 0">
                            <input list="theme" name="theme" class="input" value="@Context.Request.Query["theme"]" type="text">
                            <datalist id="theme">
                                <option value="None"></option>
                                <option value="Work"></option>
                                <option value="Study"></option>
                                <option value="Housework"></option>
                                <option value="Other"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="column">
                        <br />
                        <div class="box" style="padding: 0">
                            <input type="submit" value="Update" style="width: 100%" class="button">
                        </div>
                    </div>

				</div>
			</form>
            <a asp-controller="Tasks" asp-action="Create">
                <button class="button is-success is-outlined" style="margin: 0; width: 100%">Create</button>
            </a>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter" style="min-width: 700px">
                <div class="box">
                    <div class="columns">
                        <div class="column is-narrow">
                            <a class="subtitle is-4">
                                @item.Title
                            </a>
                        </div>
                        <div class="column"></div>
                        <div class="column is-narrow">
                            <a class="subtitle is-4">
                                @item.Theme
                            </a>
                        </div>
                        <div class="column is-narrow">
                            <a asp-controller="Tasks" asp-action="Edit" asp-route-taskId="@item.Id">
                                <button class="button is-info is-outlined">Edit</button>
                            </a>
                        </div>
                        <div class="column is-narrow">
                            <a asp-controller="Tasks" asp-action="Delete" asp-route-taskId="@item.Id">
                                <button class="button is-danger is-outlined">Delete</button>
                            </a>
                        </div>
                        <div class="column is-narrow">
                            <a class="@(item.Status == Status.StatusType.Done ? "button is-primary" : "button")" style="width: 40px; height: 40px" asp-controller="Tasks" asp-action="ChangeStatus" asp-route-taskId="@item.Id" asp-route-newStatus="@(item.Status == Status.StatusType.Done ? "InProgress" : "Done")">
                            </a>
                        </div>
                    </div>
                    <hr style="margin-top: 0" />
                    <label class="subtitle is-5">@item.Content</label>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}